.our-speciality-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.our-speciality-card {
  cursor: pointer;
  transition: transform 0.5s;
  padding: 10px 20px;
  border-radius: 5px;
}
.our-speciality-card:hover {
  transform: scale(1.1);
  background-color: #eaebed;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (min-width: 640px) {
  .our-speciality-main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(27% at right 90%);
  }

  .our-speciality-main-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 2% 2%);
  }
}
