.selected-item-navbar {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}
.contact-us-btn {
  transition: transform 0.5s;
}
.contact-us-btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transform: translateY(-5px);
}
.mobile-drop-down {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
