#testimonials {
  background-color: #78a6c8;
  background-image: linear-gradient(#78a6c8, #326789);
}
.testimonials__section {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  -moz-flex-direction: column;
  flex-direction: column;
  box-pack: start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
@media (min-width: 48em) {
  .testimonials__section {
    box-orient: horizontal;
    box-direction: normal;
    -moz-flex-direction: row;
    flex-direction: row;
    box-pack: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    height: 700px;
  }
}

.testimonials__block {
  cursor: pointer;
  -webkit-mask-image: linear-gradient(180deg, black 0%, transparent 150%);
  margin-bottom: 3rem;
  margin-top: 3rem;
  transition-duration: 0.7s;
}
@media (min-width: 48em) {
  .testimonials__block {
    max-width: 740px;
    min-width: 390px;
    transform: scale(0.7);
  }
}

.testimonials__message {
  display: block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  position: relative;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
  overflow: hidden;
  text-align: center;
}
@media (min-width: 48em) {
  .testimonials__message {
    padding: 3rem 3rem 2rem 5rem;
    text-align: left;
  }
  .testimonials__message:before {
    display: block;
    position: absolute;
    content: '“';
    font-size: 90px;
    line-height: 1;
    color: #19335a;
    top: 2rem;
    left: 1.4rem;
  }
}

.testimonials__message--dotter:after {
  content: '...';
}

.testimonials__message--hider {
  display: none;
}

.testimonials__picture {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 2px solid #f0f4f7;
  border-radius: 100%;
}

.testimonials__name {
  margin: 0 auto;
  padding-top: 1rem;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.3333333333;
  margin-bottom: 0;
  text-align: center;
}

.testimonials__position {
  margin: 5px auto;
  color: #f0f4f7;
  margin-bottom: 0;
  text-align: center;
}

.testimonials__block--active {
  -webkit-mask: none;
  mask: none;
  -webkit-mask-image: none;
  flex: 1;
  transform: scale(1);
  transition-duration: 0.7s;
}
@media (min-width: 48em) {
  .testimonials__block--active {
    margin: 2rem;
  }
}
.testimonials__block--active .testimonials__message {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  cursor: auto;
  border: 2px solid #f0f4f7;
  color: #515e6d;
  height: auto;
  overflow: visible;
  -webkit-animation: testimoinals__fade 0.7s;
  animation: testimoinals__fade 0.7s;
  background-color: #eff2f4;
  background-image: linear-gradient(#eff2f4, #fff, 0%, 100%);
}
.testimonials__block--active .testimonials__message:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: #eff2f4;
  bottom: -12px;
  margin-bottom: -28px;
  transform: rotate(45deg);
  border-right: 2px solid #f0f4f7;
  border-bottom: 2px solid #f0f4f7;
}
@media (min-width: 48em) {
  .testimonials__block--active .testimonials__message {
    padding-bottom: 3rem;
    margin-left: 0;
    margin-right: 0;
  }
  .testimonials__block--active .testimonials__message:after {
    bottom: -31px;
    position: relative;
    left: -1rem;
  }
}
.testimonials__block--active .testimonials__message--dotter:after {
  content: '';
}
.testimonials__block--active .testimonials__message--hider {
  display: inline;
}
.testimonials__block--active .testimonials__name {
  display: block;
}
.testimonials__block--active .testimonials__position {
  display: block;
}

@-webkit-keyframes testimoinals__fade {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes testimoinals__fade {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
